@model AttendanceManagementSystem.ViewModels.ExploreStudentReportVM

@{
    ViewBag.Title = "Student's Daily Attendance Report";
}

<h2>Student's Daily Attendance Report</h2>

@using (Html.BeginForm("DailyReport", "ReportStudent", FormMethod.Get))
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-inline">
                    <label>Date</label>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control ml-2" } })

                    <button class="btn btn-primary rounded-0 ml-2">Search</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.Explore)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Status</td>
                </tr>

            }
        </tbody>

    </table>

}